*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}

:root {
    --bg-primary: rgb(44, 121, 214);
    --bg-secondary: #eaeaea;
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --icons-bg-primary: tomato;
    --icons-bg-secondary: #777777;
}


.container {
    width: 100%;
    height: 150vh;
    background-color: var(--bg-primary);
    border: 2px solid red;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    
}

.card {
    flex:1;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.5);
}

.text-center {
    text-align: center;
}


.title {
    font-size: 2em;
}

.icons {
    margin-top: 8px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}
.description {
    margin-top: 8px;
    font-size: 0.5em;
}

.btn {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: rotate(2deg);
    transition: 0.3s ease-in-out;
}



@media (max-width: 768px) {
    .wrapper {
      flex-direction: column; /* stack items vertically on smaller screens */
      
    }
    .card {
        width: 200px; /* make the card smaller on smaller screens */
        height: 150px; /* make the card smaller on smaller screens */
      }
  }
